{% extends "layout.html" %}

{% block main %}

<div class = "apology_logo">
    <h1>😕 Sorry, smoething went wrong! 😕</h1>
</div>

    <br><br><br><br>

    <div style = "text-align: center;">
        <p style = "font-size: 300%; font-family: Arial;">ERROR: 400</p>
    </div>

    <br><br>

    <div style = "text-align: center;">
        <p style = "font-size: 150%; font-family: Arial;">Please, try again!</p>
    </div>

    <br><br><br>

    <div style = "text-align: center;" class = "container-fluid">
        <img class="img-fluid" style = "border-radius: 5%;" src = "../static/imgs/confused.gif">
    </div>

    <br><br><br><br>



{% endblock %}
